{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'nav.html' %}
    <main class="main-content position-relative border-radius-lg ">
        <div class="container-fluid py-4">
            {% if request.user.is_superuser %}    
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Today Orders</p>
                                    <h5 class="font-weight-bolder">
                                        {{ order_count_today }}
                                    </h5>
                                
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Collection Agent</p>
                                    <h5 class="font-weight-bolder">
                                        {{ collector_count }}
                                    </h5>
                                
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Customer</p>
                                    <h5 class="font-weight-bolder">
                                        {{ customer_count }}
                                    </h5>
                                
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Delivery Agents</p>
                                    <h5 class="font-weight-bolder">
                                        {{ delivery_boy_count }}
                                    </h5>
                                
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                

                <div class="row mt-4">
                    
                    

                    <div class="container text-center">
                        <div class="card text-center">
                          <div class="card-header">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="mb-0">Logged Details</h6>
                              </div>
                            </div>
                          </div>
                          <ul class="list-group list-group-flush text-center">
                            {% for username, last_login in user_logins %}
                            <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">{{ username }}  <span class="badge bg-primary rounded-pill">
                              {% if last_login %}{{ last_login }}{% else %}Never logged in{% endif %}
                              </span>
                            </li>
                            {% endfor %}    
                          </ul>
                        </div>
                    </div>

                    
                    
                    
                </div>
            {% elif request.user.is_collector %}
                <div class="row">
                    <div class="col-12">
                    <div class="card mb-4 min-vh-70">
            
                        <div class="card-header pb-0 d-flex align-items-center">
                        
                        
                        </div>
                        
                        <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                    
                
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Date</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> amount</th>
                                    
                                    <th class="text-secondary opacity-7"></th>   
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% if collector_orders %}
                                        {% for collector_order in collector_orders %}
                                            <tr>
                                                
                                        
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">
                                                    {{ collector_order.date }} 
                                                    </span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold"> {{ collector_order.collector_amount }}</span>
                                                </td>
                                                
                                                <td class="align-middle">
                                                    {% if collector_order.delivery_boy_name %}
                                                        {% if collector_order.delivery_status == 'PENDING' %}
                                                            <a href="" class="text-secondary font-weight-bold text-xs"><i class="fa fa-clock-o me-2" style="color: black;"></i></a>
                                                        {% endif %} 
                                                        {% if collector_order.delivery_status == 'CANCEL' %}
                                                            <a href="" class="text-secondary font-weight-bold text-xs"><i class="fa fa-times me-2" style="color: red;"></i></a>
                                                        {% endif %} 
                                                        {% if collector_order.delivery_status == 'CONFIRM' %}
                                                            <a href="" class="text-secondary font-weight-bold text-xs"><i class="fa fa-check me-2" style="color:  rgb(30, 138, 181);"></i></a>
                                                        {% endif %}
                                                        {% if collector_order.delivery_status == 'COMPLEATED' %}
                                                            <a href="" class="text-secondary font-weight-bold text-xs"><i class="fas fa-check-double me-2" style="color: rgb(30, 138, 181);"></i></a>
                                                    {% endif %}
                                                    {% elif collector_order.wholesaler_name %}
                                                        <a href="" class="text-secondary font-weight-bold text-xs"><i class="fa fa-arrows-h me-2" style="color: black;"></i></a>
                                                    {% endif %}
                                                    <a href="{% url 'collector_order_view' order_id=collector_order.id %}" class="text-secondary font-weight-bold text-xs"><i class="fa fa-eye  me-2" style="color: blue;"></i></a>                                                  
                                                </td>
                                            </tr>
                                        
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-center">No orders assigned to you yet.</p>
                                    {% endif %}
                                </tbody>
                            
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% elif request.user.is_delivery_boy %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show " role="alert">
                        <span class="text-white">{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <span class="text-white">{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
                
                <div class="row">
                    <div class="col-12">
                    <div class="card mb-4 min-vh-70">
                        
            
                        <div class="card-header pb-0 d-flex align-items-center">
                        </div>
                        
                        <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                      
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">money type - amount</th>  
                                      <th class="text-secondary opacity-7"></th>   
                                      
                                    </tr>
                                </thead>
                            
                                <tbody>

                                    {% if delivery_boy_orders %}
                                        
                                        {% for delivery_boy_order in delivery_boy_orders %}
                                        {% if delivery_boy_order.delivery_status == 'CONFIRM' or delivery_boy_order.delivery_status == 'PENDING' or delivery_boy_order.delivery_status == 'COMPLEATED' %}
                                            <tr>
                                        
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">
                                                    {{ delivery_boy_order.date }} 
                                                    </span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">{{ delivery_boy_order.money_type }} - {{ delivery_boy_order.delivery_boy_amount }}</span>
                                                </td>  
                                                <td class="align-middle">
                                                    {% if delivery_boy_order.delivery_boy_name %}
                                                        {% if delivery_boy_order.delivery_status == 'PENDING' %}
                                                            <a href="" class="text-secondary font-weight-bold text-xs"><i class="fa fa-clock-o me-2" style="color: black;"></i></a>
                                                        {% endif %} 
                                                        {% if delivery_boy_order.delivery_status == 'CANCEL' %}
                                                            <a href="" class="text-secondary font-weight-bold text-xs"><i class="fa fa-times me-2" style="color: red;"></i></a>
                                                        {% endif %} 
                                                        {% if delivery_boy_order.delivery_status == 'CONFIRM' %}
                                                            <a href="" class="text-secondary font-weight-bold text-xs"><i class="fa fa-check me-2" style="color:  rgb(30, 138, 181);"></i></a>
                                                        {% endif %}
                                                        {% if delivery_boy_order.delivery_status == 'COMPLEATED' %}
                                                            <a href="" class="text-secondary font-weight-bold text-xs"><i class="fas fa-check-double me-2" style="color: rgb(30, 138, 181);"></i></a>
                                                    {% endif %}
                                                    {% elif delivery_boy_order.wholesaler_name %}
                                                        <a href="" class="text-secondary font-weight-bold text-xs"><i class="fa fa-arrows-h me-2" style="color: black;"></i></a>
                                                    {% endif %}
                                                    
                                                    <a href="{% url 'delivery_boy_order_view' order_id=delivery_boy_order.id %}" class="text-secondary font-weight-bold text-xs"><i class="fa fa-eye text-dark me-2" ></i></a>                                                  
                                                </td>                                      
                                            </tr>
                                            
                                        {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-center">No orders assigned to you yet.</p>
                                    {% endif %}

                                </tbody>
                            
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}


        </div>
    </main>
    
{% endblock %}