{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'nav.html' %}
    <div class="container-fluid py-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:;">Profile</a></li>
          <li class="breadcrumb-item"><a href="javascript:;"></a></li>
        </ol>
      </nav>
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show " role="alert">
            <span class="text-white">{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="text-white">{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
      

      <div class="row">
        <div class="col-md-12">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-md-9 col-lg-7 col-xl-5">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-4">
                    <div class="d-flex text-black">
                      
                      <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1">{{ user.username }}</h5>
                        <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ user.first_name }} {{ user.last_name }}</p>
                        <div class="d-flex justify-content-start rounded-3 p-2 pt-4 mb-2"
                          style="background-color: #efefef;">
                          <div>
                            <p><i class="fa fa-mobile" aria-hidden="true"></i><span> {{ user.mobile_no }}</span></p>
                            <p><i class="fa fa-envelope" aria-hidden="true"></i><span> {{ user.email }}</span></p>
                          </div>
                        </div>
                        <div class="d-flex pt-1">
                          
                          <button type="button" class="btn btn-primary flex-grow-1">{{ role }}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </main>
{% endblock %}
 