{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'nav.html' %}
    <div class="container-fluid py-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:;">Report</a></li>
          <li class="breadcrumb-item"><a href="javascript:;"></a></li>
        </ol>
      </nav>
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show " role="alert">
            <span class="text-white">{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="text-white">{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
      <div class="row">
        <div class="col-12">
            <div class="card mb-2 pt-2 pb-2 p-3"> 
                <form method="get" class="row g-3 align-items-center">
                    <div class="col-md-4 ">
                        <label for="start_date">Start Date:</label>
                        <input class="form-control" type="date" name="start_date" value="{{ start_date }}">
                    </div>
                    
                    <div class="col-md-4">
                        <label for="end_date">End Date:</label>
                        <input class="form-control" type="date" name="end_date" value="{{ end_date }}">
                    </div>

                    <div class="col-md-4">
                      <label for="customer_id">Customer:</label>
                      <select id="customer_id" name="customer_id" class="form-control">
                        <option value="">All Customers</option>
                        {% for customer in customers %}
                          <option value="{{ customer.id }}" {% if customer.id == selected_customer_id %}selected{% endif %}>{{ customer.name }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="col-md-2 ">
                        <button class="btn btn-secondary btn-sm" type="submit">Filter</button>
                    </div>
                    <div class="col-md-8 ">
                      <input type="submit" class="btn btn-success btn-sm" name="export" value="Export to Excel" onclick="return confirm('Do you Want to Download this sheet as Excel ?')">
                    </div>
                </form>
            </div>
        </div>
            
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card mb-2 ">

            
            
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th> -->

                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Order</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Profit</th>
                      

                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Toal Collected</th>
                      
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Pending</th>

                      
                     
                     
                      

                      
                    </tr>
                  </thead>
                  
                  <tbody>
                    
                    <tr>
                      
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          <h6 class="mb-0 text-sm">{{ order_count }} </h6>
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          <h6 class="mb-0 text-sm">{{ profit_count }} </h6>
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          <h6 class="mb-0 text-sm">{{ total_money_collected }} </h6>
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          <h6 class="mb-0 text-sm">{{ total_money_pending }} </h6>
                        </span>
                      </td>
                      
                      
                      
                      
                    </tr>
                   
                    
                   
                  </tbody>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card mb-4 min-vh-50">

            <div class="card-header pb-0 d-flex align-items-center">
              <h6 class="mb-0">Orders List</h6>
              
            </div>
            
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th> -->

                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Purchase Total</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sales Total</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Profit</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Collected Agent </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delivery Agent</th>
                      
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Collected</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pending</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {% for order in orders %}
                    {% if order.wholesaler_show == 'UNSHOW' %}
                    <tr>
                      
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          <h6 class="mb-0 text-sm">{{ order.date }} </h6>
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ order.customer_name }}</span>
                      </td>

                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ order.purchase_total }}</span>
                      </td>
                      
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ order.total }}</span>
                      </td>

                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ order.profit }}</span>
                      </td>

                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ order.collector_name.first_name }} {{ order.collector_name.last_name }}</span>
                      </td>
                    
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ order.delivery_boy_name.first_name }} {{ order.delivery_boy_name.last_name }} </span>
                        <span class="text-secondary text-xs font-weight-bold">{{ order.wholesaler_name.name }}</span>   
                      </td>
                      
                    <td class="align-middle text-center">
                      
                      <span class="text-secondary text-xs font-weight-bold">{{ order.money_collected }}</span>
                       
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">
                        {% if order.money_pending == None %}
                          {{ order.total }}
                        {% else %}
                          {{ order.money_pending }} 
                        {% endif %}
                      </span>
                    </td>
                      <td class="align-middle">
                        
                        <a href="{% url 'order_view' order.id %}" class="text-secondary font-weight-bold text-xs"><i class="fa fa-eye me-2" style="color: blue;"></i></a>
                        
                        
                      </td>
                    </tr>
                   
                    {% endif %}
                    {% endfor %}
                  </tbody>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        
      </div>
      
    </div>
  </main>
{% endblock %}
 