{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% include 'nav.html' %}
  <div class="container-fluid py-4 ">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Wholesaler</a></li>
        
        <li class="breadcrumb-item"><a href="javascript:;">paid</a></li>
      </ol>
    </nav>
    
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
          <span class="text-white">{{ message }}</span>
          <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <span class="alert-icon"><i class="ni ni-like-2"></i></span>
          <span class="alert-text">{{ message }}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}

    
    <div class="row">
      <div class="col-md-12 ">
        <div class="card">
          
          <form method="post" >
            {% csrf_token %}
            <div class="card-body">
              
                <div class="col-md-6">
                    <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Date</label>
                    <input class="form-control" id="date" type="date" name="date"   >
                    </div>
                  </div>

                

                <div class="col-md-3">
                  <div class="form-group">
                  <label for="example-text-input" class="form-control-label">Amount</label>
                  <input class="form-control" required type="text" name="wholesaler_paid" placeholder="Amount">
                  </div>
                </div>


                
                
                
                                  
              
                <div class="card-header pb-0">
                  <div class="d-flex align-items-center">
                         <button class="btn btn-primary btn-sm ms-auto" type="submit">Submit</button>
                  </div>
                </div>
            </div>
          </form>

        </div>
      </div>
      
    </div>
      
  </div>
  
  <script>
    /***************************************** Date today *********************************************************/
  
    // Get the current date
    var currentDate = new Date();
  
    // Format the date as YYYY-MM-DD
    var formattedDate = currentDate.toISOString().substr(0, 10);
  
    // Set the default value of the input field
    document.getElementById("date").value = formattedDate;
  </script>

{% endblock %}